<nav class="navbar-default navbar-static-side" id="nav-menu" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header" style="padding:inherit">
                <ul id="circle-avatar" class="ch-grid">
                    <li>
                        <div class="ch-item">
                            <div class="ch-info">
                                <h3>浮</h3>
                                <p>by Carson <a href="https://github.com/huguangju">View on Github</a></p>
                            </div>
                            <div class="ch-thumb ch-img-3"></div>
                        </div>
                    </li>
                </ul>
                <div class="logo-element">HU</div>
            </li>
        </ul>
    </div>
</nav>