<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">{% capture description %}{% if page.description %}{{ page.description }}{% else %}浮忆之窨{% endif %}{% endcapture %}
    <meta name="description" content="{{ description }}">{% capture tags %}{% if page.tags %}{{ page.tags }}{% else %}浮忆之窨{% endif %}{% endcapture %}
    <meta name="keywords" content="{{ page.tags | join: ', ' }}"/>
    <meta name="author" content="huguangju.github.io"> {% capture canonical %}http://huguangju.github.io{% if site.permalink contains '.html' %}{{ page.url }}{% else %}{{ page.url | remove:'index.html' }}{% endif %}{% endcapture %}
    <link rel="canonical" href="{{ canonical }}">
    <link href="http://huguangju.github.io/rss.xml" title="RSS 2.0" type="application/rss+xml" rel="alternate"/>
    <link href="/assets/images/favicon.ico" rel="icon" type="image/x-icon">
    <title>{% if page.title %}{{ page.title }} - {% endif %}浮忆之窨</title>

    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" >
    <!--[if lte IE 8]-->
    <link rel="stylesheet" href="/assets/css/font-awesome/css/font-awesome-ie7.min.css">
    <![endif]-->

    <link href="/assets/css/animate.css" rel="stylesheet">
    <link href="/assets/css/circle-hover.css" rel="stylesheet">
    <link href="/assets/css/slidefixbar.css" rel="stylesheet">

    <link href="/assets/css/common.css" rel="stylesheet">
    <link href="/assets/css/custom.css" rel="stylesheet">

    <!-- syntaxhighlight -->
    <link type="text/css" rel="stylesheet" href="/assets/js/plugins/syntaxhighlighter/styles/shCore.css"/>
    <link type="text/css" rel="stylesheet" href="/assets/js/plugins/syntaxhighlighter/styles/shCoreDefault.css"/>

    <script class="javascript" src="/assets/js/plugins/syntaxhighlighter/scripts/shCore.js"></script>
    <script class="javascript" src="/assets/js/plugins/syntaxhighlighter/scripts/shAutoloader.js"></script>

    <!--<link href='http://fonts.useso.com/css?family=Open+Sans:400italic,400,700' rel='stylesheet' type='text/css'>-->

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!--
         ______       ___   _____    _____   _____   __   _
        /  ___|     /   | |  _  \  /  ___/ /  _  \ |  \ | |
        | |        / /| | | |_| |  | |___  | | | | |   \| |
        | |       / / | | |  _  /  \___  \ | | | | | |\   |
        | |___   / /  | | | | \ \   ___| | | |_| | | | \  |
        \_____| /_/   |_| |_|  \_\ /_____/ \_____/ |_|  \_|
     -->
</head>

<body>

<div id="wrapper">

    {% if page.indexPage %}
        {% include nav_menu.html %}
    {% else %}
        {% include nav_menu_blog.html %}
    {% endif %}

    <div id="page-wrapper" class="gray-bg">

        <!-- top nav -->
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="javascript:;"><i class="fa fa-bars"></i> </a>
                </div>
                <div class="alert alert-danger text-center" role="alert">博客重构中 ... ...</div>
            </nav>
        </div>
        <!-- top nav END -->

        <!-- rignt main content -->
        <div class="wrapper wrapper-content">
            <div class="row animated fadeInRight">

                {{ content }}

            </div>
        </div>
        <!-- rignt main content END -->

        <div class="footer text-center">
            <div>
                Copyright © 2014 huguangju Powered by &nbsp;&nbsp;<a href="http://jekyllrb.com/">Jekyll</a> Design from <a href="http://liyouhai.com/">liyouhai</a> and <a href="http://blog.jsfor.com/">jsfor</a> <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1253577355'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/stat.php%3Fid%3D1253577355%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
            </div>
        </div>

</div>
</div>

<!-- 侧边二维网显示栏 -->
<div id="moquu_wshare" class="moquu_wshare"><a href="javascript:void(0)">浮忆之窨<div class="moquu_wshareh"></div></a></div>
<a id="moquu_top" href="javascript:void(0)"></a>

</body>

</html>
