<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">{% capture description %}{% if page.description %}{{ page.description }}{% else %}浮忆之窨{% endif %}{% endcapture %}
    <meta name="description" content="{{ description }}">{% capture tags %}{% if page.tags %}{{ page.tags }}{% else %}浮忆之窨{% endif %}{% endcapture %}
    <meta name="keywords" content="{{ page.tags | join: ', ' }}"/>
    <meta name="author" content="huguangju.github.io"> {% capture canonical %}http://huguangju.github.io{% if site.permalink contains '.html' %}{{ page.url }}{% else %}{{ page.url | remove:'index.html' }}{% endif %}{% endcapture %}
    <link rel="canonical" href="{{ canonical }}">
    <link href="http://huguangju.github.io/rss.xml" title="RSS 2.0" type="application/rss+xml" rel="alternate"/>
    <link href="/assets/images/favicon.ico" rel="icon" type="image/x-icon">
    <link rel="stylesheet" href="/assets/js/plugins/brocco/vendor/docco.css">
    <title>{% if page.title %}{{ page.title }} - {% endif %}浮忆之窨</title>

    <script src="/assets/js/plugins/brocco/vendor/showdown.js"></script>
    <script src="/assets/js/plugins/brocco/vendor/codemirror.js"></script>
    <script src="/assets/js/plugins/brocco/vendor/codemirror-javascript-mode.js"></script>
    <script src="/assets/js/plugins/brocco/brocco.js"></script>
</head>

<body>

    {{ content }}

</body>

</html>
