---
layout: blog
---
<div class="article-box">
    <header class="mail-box-header">
        <h2 class="post-title">{{ page.title }}</h2>

        <p class="post-meta">By {{ page.date | date: "%m" }}月{{ page.date | date: "%d" }}日  {{ page.date | date: "%Y" }}  <a
                class="post-categorybut " href="/type/#{{ post.categories  }}">{{ page.categories  }}</a><a
                class="post-category " href="/tag/#{{ page.tags | first }}"> {{ page.tags | first }}</a><a
                class="post-category " href="/tag/#{{ page.tags[1] }}">  {{ page.tags[1] }}</a>
        </p>
        <span style="display: block" class="breakline"></span>
    </header>

    <div class="">

        {{ content }}

    </div>
</div>

<div class="col-lg-12 m-b-lg animated fadeInRight">
    <div class="col-md-6">
        {% if page.previous %}
            <a class="btn btn-block btn-outline btn-primary" href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }} "><i class="fa fa-mail-reply"></i>{{ page.previous.title }}</a>
        {% else %}
            <button class="btn btn-block btn-outline btn-default disabled">上一篇&nbsp;<i class="fa fa-chain-broken"></i></button>
        {% endif %}
    </div>
    <div class="col-md-6">
        {% if page.next %}
            <a class="btn btn-block btn-outline btn-primary" href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">{{ page.next.title }}&nbsp;<i class="fa fa-mail-forward"></i></a>
        {% else %}
            <button class="btn btn-block btn-outline btn-default disabled">下一篇&nbsp;<i class="fa fa-chain-broken"></i></button>
        {% endif %}
    </div>
</div>



<script src="/assets/js/jquery-1.10.2.js" ></script>
<link href="/assets/css/plugins/fancybox/fancybox.css" rel="stylesheet">
<script src="/assets/js/plugins/jquery.toc.min.js" ></script>
<script src="/assets/js/plugins/jquery.qrcode.min.js" ></script>
<script src="/assets/js/plugins/jquery.fancybox.pack.js" ></script>
<script src="/assets/js/plugins/jquery.nicescroll.min.js"></script>
<script src="/assets/js/page.js" ></script>


{% if  page.sharing != false %}
{% include sharing.html %}
{% endif %}
{% if  page.duoshuo != false %}
{% include duoshuo.html %}
{% endif %}




